@use 'base';
@use 'components';

* {
  transition: 0.4s ease-in-out;
}

.App {
  background: #FFC012;
  width: 100%;
  min-height: 100vh;
  height: 100vh;

  @media screen and (max-width: 1800px) {
    overflow: auto;
  }

  @media screen and (max-width: 1316px) {
    height: 100vh;
  }

  &.playing {
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: min(75%, 1920px);
  min-height: 100vh;
  height: min(100%, 1080px);

  @media screen and (max-width: 404px) {
    max-width: 95%;
  }
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1.1;
  margin-top: 0.3em;

  @media screen and (max-width: 620px) {
    margin-top: 1em;
    padding-top: 0;
  }


  span {
    font-size: 9.5rem;
    color: #061A86;

    @media screen and (max-width: 620px) {
      font-size: 7.5rem;
    }

    @media screen and (max-width: 490px) {
      font-size: 5.5rem;
    }

    @media screen and (max-width: 354px) {
      font-size: 4.5rem;
    }
  }
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  height: 67%;

  @media screen and (max-width: 1087px) {
    overflow: visible;
    margin-top: 3em !important;
  }

  .questionMen {
    background-size: cover;
    width: 516px;
    height: 100%;

    @media screen and (max-width: 1316px) {
      position: absolute;
      margin: auto;
    }

    @media screen and (max-width: 516px) {
      display: none;
    }
  }
}

.front {
  @media screen and (max-width: 1316px) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}

.front .btn {
  margin-bottom: 4em;

  @media screen and (max-width: 1316px) {
    margin-bottom: 2em;
  }
}

.btn {
  color: transparent;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 3.8rem 9.5rem 2.9rem 9.5rem;
  border-radius: 90px;
  font-size: 4.5rem;
  position: relative;
  border: none;
  z-index: 3;

  @media screen and (max-width: 402px) {
    padding: 2.9rem 7.5rem 2rem 7.5rem;
  }

  @media screen and (max-width: 362px) {
    font-size: 3.5rem;
  }


  .pseudo-bg {
    white-space: normal;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 4;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 98%;
    border-radius: 90px;
  }

  &.no-btn {
    .pseudo-bg {
      background: #FF3C3E;
    }

    &::after {
      background: #760000;
    }

    &.no-btn:hover {
      .pseudo-bg {
        background: #760000;
      }

      &::after {
        background: #FF3C3E;
      }
    }
  }

  &.yes-btn {
    .pseudo-bg {
      background: #3C8EFF;
    }

    &::after {
      background: #061A86;
    }

    &.yes-btn:hover {
      .pseudo-bg {
        background: #061A86;
      }

      &::after {
        background: #3C8EFF;
      }
    }
  }
}