.final {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin-top: 0.2em;
  }

  @media screen and (max-width: 723px) {
    h2 span {
      font-size: 8.5rem;
    }
  }

  @media screen and (max-width: 513px) {
    h2 span {
      font-size: 7rem;
    }
  }

  .btn {
    padding-inline: 2.1rem;
    padding-top: 2.9rem;
    padding-bottom: 2.2rem;
    font-size: 3.3rem;

    @media screen and (max-width: 377px) {
      font-size: 2.5rem;
    }
  }

  .bottom {
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1em;
  }
}

.final-img-container {
  height: 608px;

  @media screen and (max-width: 1007px) {
    display: none;
  }

  img {
    object-fit: cover;
    object-position: 0 center;
    height: 723px;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.right {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 9em;

  @media screen and (max-width: 501px) {
    width: 100%;
    margin-bottom: 1em;
    height: unset;
  }
}

.right-top {
  position: relative;
  z-index: 2;
  height: 196px;
  width: 100%;

  @media screen and (max-width: 501px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 61%;
    width: 100%;
    padding-top: 4.6em;
  }

  @media screen and (max-width: 400px) {
    padding-top: 0em;
  }
}

.text-bulle {
  text-transform: uppercase;
  position: absolute;
  width: 250px;
  height: 143px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 250px;
    height: 143px;
  }

  @media screen and (max-width: 501px) {
    position: relative;
    right: unset !important;
    left: unset !important;
    top: unset !important;
    bottom: unset !important;

    img {
      display: none !important;
    }
  }

}

.text-bulle-rond {
  font-size: 3.5rem;
  color: #061A86;
  text-shadow: 2px 2px 0px #FF3C3E;
  left: 50%;
  width: auto;
  top: -55%;
  line-height: 1;

  @media screen and (max-width: 1007px) {
    top: 14%;
    left: 76%;
  }

  @media screen and (max-width: 613px) {
    left: 55%;
  }

  span {
    width: 241px;
    display: flow-root;
    margin-top: 0.4em;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
  }

  img {
    width: 291px;
    height: auto;
  }
}

.text-bulle-carre {
  color: #FF3C3E;
  font-size: 2.7rem;
  text-align: center;
  line-height: 1;
  right: 50%;
  top: 22%;
  align-items: start !important;

  @media screen and (max-width: 1007px) {
    right: 78%;
    top: 39%;
  }

  @media screen and (max-width: 613px) {
    right: 45%;
  }

  span {
    margin-top: 0.8em;
    display: flow-root;
  }
}