.slide {
  width: 100%;
  height: 100%;

  .container-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5em;
    margin-bottom: 2em;
    height: calc(100vh - 2em - 2em);
    position: relative;
    z-index: 1;

    @media screen and (max-width: 400px) {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  .background {
    position: absolute;
    width: 85%;
    height: 85%;
    z-index: -1;
    inset: 0;
    margin: auto;
    background-size: contain !important;

    &.divergent {
      left: -60%;
      width: 70%;
      height: 70%;
    }
  }

  .top {
    position: relative;
    z-index: 2;
  }
}

h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.1;

  span {
    font-size: 10.5rem;
    color: #061A86;

    @media screen and (max-width: 574px) {
      font-size: 6.5rem;
    }

    @media screen and (max-width: 370px) {
      font-size: 5.5rem;
    }
  }
}

.superman {
  position: absolute;
  width: 967px;
  height: 760px;
  margin: auto;
  left: 25%;

  @media screen and (max-width: 1568px) {
    left: 17%;
  }

  @media screen and (max-width: 1299px) {
    left: 9%;
  }

  @media screen and (max-width: 1181px) {
    left: 2%;
    width: 867px;
    height: 660px;
  }

  @media screen and (max-width: 1006px) {
    width: 767px;
    height: 560px;
  }

  @media screen and (max-width: 890px) {
    width: 567px;
    height: 360px;
    top: 10%;
    left: 12%;
  }

  @media screen and (max-width: 721px) {
    width: 467px;
    height: 260px;
  }

  @media screen and (max-width: 593px) {
    left: -4%;
  }

  @media screen and (max-width: 518px) {
    width: 367px;
    height: 300px;
    left: 0;
  }

  @media screen and (max-width: 437px) {
    left: -9%;
  }

  @media screen and (max-width: 420px) {
    left: -8%;
  }

  @media screen and (max-width: 408px) {
    left: -9%;
  }

  @media screen and (max-width: 404px) {
    left: 0;
  }

  @media screen and (max-width: 394px) {
    left: -3%;
  }

  @media screen and (max-width: 376px) {
    width: 300px;
    left: 6%;
    top: 20%;
  }

  @media screen and (max-width: 327px) {
    left: -9%;
  }

  &.middle ul li {
    width: 100%;

    @media screen and (max-width: 380px) {
      width: 80%;
    }
  }

  img {
    margin-left: 0 !important;
  }
}

.iconeBuble {
   position: absolute;
   right: -37%;
}

.middle ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  @media screen and (max-width: 975px) {
    flex-direction: column;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    &:not([class]):last-of-type img {
      margin-left: 2em;

      @media screen and (max-width: 975px) {
        margin-left: 0;
        margin-top: 2em;
      }
    }
  }
}

.question-bottom {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  @media screen and (max-width: 641px) {
    gap: 0.5em;
  }

  .btn {
    margin-top: 0;
    font-size: 3.3rem;
    padding: 2.2rem 12.6rem 1.8rem 12.9rem;

    @media screen and (max-width: 641px) {
      font-size: 2.3rem;
      padding: 2.2rem 7rem 1.8rem 7rem;
    }
  }
}

.flash:nth-of-type(2) {
  position: absolute;
  right: -72%;
  top: -43%;
  z-index: -1;
  width: 100%;

  @media screen and (max-width: 1800px) {
    right: 0;
  }
}

.iconeBuble {
  @media screen and (max-width: 968px) {
    display: none;
  }
}

.supermanGif {
  position: absolute;
  top: 40%;
  left: 4%;
  z-index: -1;

  @media screen and (max-width: 1006px) {
    left: -5%;
  }

  @media screen and (max-width: 975px) {
    top: 39%;
  }

  @media screen and (max-width: 968px) {
    left: 5%;
  }

  @media screen and (max-width: 890px) {
    top: 38%;
    width: 75%;
  }

  @media screen and (max-width: 592px) {
    top: 36%;
  }

  @media screen and (max-width: 380px) {
    width: 57%;
    left: 14%;
  }
}

.cyclop {
  ul li {
    width: 100%;

    img {
      margin-top: 0;
      margin-left: 0 !important;
    }
  }
}

.cyclopTV {
  width: 773px;
  height: 520px;
  margin-top: 0 !important;

  @media screen and (max-width: 1012px) {
    width: 619px;
    height: 420px;
  }

  @media screen and (max-width: 814px) {
    width: 470px;
    height: 320px;
  }

  @media screen and (max-width: 616px) {
    width: 381px;
    height: 259px;
  }

  @media screen and (max-width: 500px) {
    width: 329px;
    height: 222px;
  }

  @media screen and (max-width: 432px) {
    width: 278px;
    height: 188px;
  }
}

.cyclop-gif {
  position: absolute;
  top: 7.5%;
  z-index: -1;
  height: 394px;
  margin-left: 0 !important;
  margin-top: 0 !important;

  @media screen and (max-width: 1012px) {
    height: 317px;
  }

  @media screen and (max-width: 814px) {
    top: 7.5%;
    height: 241px;
  }

  @media screen and (max-width: 616px) {
    height: 196px;
  }

  @media screen and (max-width: 500px) {
    height: 169px;
  }

  @media screen and (max-width: 432px) {
    height: 142px;
  }
}
